<p id="notice"><%= notice %></p>
<h1>Consultar Pais</h1>
<p>
  <strong>Nombre:</strong>
  <%= @pais.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pais.descripcion %>
</p>

<%= link_to 'Regresar', paises_inicio_path %>